<th:block th:fragment="selected-grouping">
    <div class="card selected-grouping-card"
         th:classappend="${tabContent ? 'card-tab-content' : ''}">
        <div class="card-header">
            <div class="flex-row m-auto">
                <div class="d-sm-flex d-block justify-content-between">
                    <div>
                        <h2 class="card-title mt-sm-1 mt-0 mb-1">Selected Grouping</h2>
                    </div>
                    <div class="p-0">
                        <button ng-click="returnToGroupingsList()" class="btn btn-primary">
                            Return to Groupings
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-bordered table-sm">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ selectedGrouping.name }}</td>
                    </tr>
                    <tr>
                        <th>Path</th>
                        <td>{{ selectedGrouping.path }}</td>
                    </tr>



                <!--CLINT NEW!!!!-->

                    <tr>
                        <th>Description</th>
                        <td style="table-layout: fixed; width: 80%">
                            <!--<div ng-show="!descriptionOn">-->
                            <div ng-show="!descriptionForm">
                                {{ descriptionDisplay() }}
                                <!-- fa-save -->
                                <!-- <i class="far fa-times-circle"></i> -->
                                <span ng-click="editDescription()" class="fa fa-pencil-square-o p-1 pull-right clickable"
                                      th:title="#{screen.message.description.edit}"
                                      style="margin-right: 16px; margin-top: 2px"></span>
                                <!--<span ng-click="changeDescription()" class="fa fa-pencil-square-o pull-right pt-1"></span>-->
                            </div>

                            <!-- width: 500px; max-width: 500px -->
                            <!-- (class="...") form-inline  -->
                            <!--  style="overflow:hidden; zoom: 1" -->
                            <div ng-show="descriptionForm" style="margin: 5px">
                                <form>
                                    <div ng-show="descriptionLengthWarning()" class="alert alert-warning">
                                        <p th:utext="#{screen.message.admin.selectedGrouping.descriptionWarning}"> </p>
                                    </div>

                                    <input class="form-control ljlk"
                                           style="margin: 5px 5px 10px 5px; float: left;
                                           width: -webkit-calc(100% - 80px);
                                           width:    -moz-calc(100% - 80px);
                                           width:         calc(100% - 80px)"
                                           th:title="#{screen.message.admin.selectedGrouping.descriptionFormTitle}"
                                           th:placeholder="#{screen.message.admin.selectedGrouping.descriptionPlaceholder}"
                                           ng-value="descriptionDisplay()"
                                           ng-model="description"
                                           maxlength="{{ maxDescriptionLength }}"
                                           id="descriptionForm" />
                                    <!--data-toggle="tooltip" data-placement="top-left"-->
                                    <span ng-click="editDescription()"
                                          th:title="#{screen.message.description.save}"
                                          class="fa fa-save pull-right pt-1 clickable"
                                          style="margin-left: 14px; margin-top: 12px; margin-right: 10px; float: left"></span>
                                    <span ng-click="cancelDescriptionEdit()"
                                          th:title="#{screen.message.description.cancel}"
                                          class="fa fa-times-circle pull-right pt-1 clickable" id="descriptionString"
                                          style="margin-top: 12px; float: left"></span>
                                </form>
                            </div>

                            <!--<div ng-show="descriptionForm" class="d-lg-flex d-block justify-content-lg-between-->
                            <!--justify-content-start" style="margin: 5px">-->
                                <!--<form style="display: inline-block">-->
                                    <!--&lt;!&ndash; NOTE: the input tag below seems to control the form box's size... &ndash;&gt;-->
                                    <!--&lt;!&ndash; "...width: ___px" can make the width bigger than the smaller default size, but does not auto-stretch...&ndash;&gt;-->
                                    <!--<input class="form-control" type="text"-->
                                           <!--style="display: inline-block; box-sizing: border-box; width: auto"-->
                                        <!--placeholder="Brief description for this Grouping..."-->
                                        <!--title="Enter a brief description for this grouping"-->
                                        <!--ng-value="descriptionDisplay()"-->
                                        <!--ng-model="description"/>-->
                                    <!--<span ng-click="editDescription()" class="fa fa-times-circle pull-right pt-1 clickable"-->
                                        <!--style="margin-top: 5px; margin-right: 10px"></span>-->
                                    <!--<span ng-click="editDescription()" class="fa fa-save pull-right pt-1 clickable"-->
                                        <!--style="margin-left: 16px; margin-top: 5px; margin-right: 10px"></span>-->
                                <!--</form>-->
                            <!--</div>-->

                            <!--<div ng-show="textBox" style="margin: 10px">-->
                                <!--<input class="form-control" type="text" placeholder="Describe this Grouping..."-->
                                   <!--title="Enter brief description for this grouping"-->
                                   <!--ng-model="userToAdd"/>-->
                                <!--<span ng-click="changeDescription()" class="fa fa-times-circle pull-right pt-1" style="margin-right: 16px"></span>-->
                                <!--<span ng-click="changeDescription()" class="fa fa-save pull-right pt-1" style="margin-right: 16px"></span>-->
                                <!--&lt;!&ndash;<div class="input-group-append">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button class="btn btn-primary" type="submit">Save</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button class="btn btn-primary" type="submit">Cancel</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->

                            <!--
                                <textarea class="form-control" rows="1" type="text"
                                           style="display: inline-block; box-sizing: border-box; width: auto"
                                        placeholder="Brief description for this Grouping..."
                                        title="Enter a brief description for this grouping"
                                        ng-value="descriptionDisplay()"
                                        ng-model="userToAdd">
                                    </textarea>
                            -->
                        </td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</th:block>
